body{
	margin: 0 0;
}

.mainContainer{
	position: absolute;
	left:0px;
	top:0px;
	height: 100%;
	width: 100%;
	margin: 0 0;
	background-color: #ffffff;
}


.titleProj{
	position: absolute;
	left:1%;
	top:0%;
	height: 4%;
	width: 82%;
	margin: 0 0;
	text-align: left;;
	font-size: 2.8vmin;
	font-weight: bold;
	margin-top: 0.3vmin;
	/*background-color: lightblue;*/
}
.titleProjExp{
	position: absolute;
	left: 17vmin;
	top: 0%;
	height: 4%;
	width: 82%;
	margin: 0 0;
	text-align: left;
	font-size: 1.8vmin;
	font-weight: bold;
	margin-top: 1vmin;
}


.titleIndividual{
	position: absolute;
	left: 1%;
	top: 4%;
	height: 3%;
	width: 82%;
	margin: 0 0;
	text-align: center;
	font-size: 1.8vmin;
	font-weight: bold;
}
.titleIndividualLeft{
	position: absolute;
	left: 1%;
	top: 4%;
	height: 3%;
	width: 40%;
	margin: 0 0;
	text-align: center;
	font-size: 1.8vmin;
	font-weight: bold;
}
.titleIndividualRight{
	position: absolute;
	left: 43%;
	top: 4%;
	height: 3%;
	width: 40%;
	margin: 0 0;
	text-align: center;
	font-size: 1.8vmin;
	font-weight: bold;
}

.swordDivContainerLeft{
	position: absolute;
	left:1%;
	top:7%;
	height: 25%;
	width: 26%;
	margin: 0 0;
}
.swordDivContainerRight{
	position: absolute;
	left:45%;
	top:7%;
	height: 25%;
	width: 26%;
	margin: 0 0;
}

.starPlotDivContainerLeft{
	position: absolute;
	left:28%;
	top:7%;
	height: 25%;
	width: 10%;
}
.starPlotDivContainerRight{
	position: absolute;
	left:72%;
	top:7%;
	height: 25%;
	width: 10%;
}


.titleSlice{
	position: absolute;
	left: 1%;
	top: 36%;
	height: 2%;
	width: 82%;
	margin: 0 0;
	text-align: center;
	font-size: 1.8vmin;
	font-weight: bold;
}
.titleSliceLeft{
	position: absolute;
	left: 1%;
	top: 36%;
	height: 2%;
	width: 40%;
	margin: 0 0;
	text-align: center;
	font-size: 1.8vmin;
	font-weight: bold;
}
.titleSliceRight{
	position: absolute;
	left: 43%;
	top: 36%;
	height: 2%;
	width: 40%;
	margin: 0 0;
	text-align: center;
	font-size: 1.8vmin;
	font-weight: bold;
}

.mosaicTopDivContainerLeft{
	position: absolute;
	left: 1%;
	top: 38%;
	height: 2%;
	width: 38%;
	margin: 0 0;
	text-align: center;
}
.mosaicTopDivContainerRight{
  position: absolute;
	left: 45%;
	top: 38%;
	height: 2%;
	width: 38%;
	margin: 0 0;
	text-align: center;
}
.mosaicTopDivContainerCenter{
	position: absolute;
	left: 32%;
  top: 38%;
  height: 3%;
  width: 20%;
	margin: 0 0;
	text-align: center;
	z-index: 10;
	font-size: 1.6vmin;
}
.mosaicTopDivContainerCenter input{
	width: 1.4vmin;
	height: 1.4vmin;
}

.mosaicDivContainerLeft{
	position: absolute;
	left: 1%;
	top: 41%;
	height: 45%;
	width: 38%;
	margin: 0 0;
	background-color: #cccccc;
}
.mosaicDivContainerRight{
	position: absolute;
	left: 45%;
	top: 41%;
	height: 45%;
	width: 38%;
	margin: 0 0;
	background-color: #cccccc;
}

select, option {
	width: 11vmin;
	height: 2vmin;
	font-size: 1.4vmin;
}

/*.overallStarPlotDivContainerLeft{
	position: absolute;
	left:1%;
	top:40%;
	height: 35%;
	width: 35%;
}
.overallStarPlotDivContainerRight{
	position: absolute;
	left:43%;
	top:40%;
	height: 35%;
	width: 35%;
}*/

.titleTimeline{
	position: absolute;
	left: 1%;
	top: 88%;
	height: 2%;
	width: 82%;
	margin: 0 0;
	text-align: center;
	font-size: 1.8vmin;
	font-weight: bold;
}
.titleTimelineLeft{
	position: absolute;
	left: 1%;
	top: 88%;
	height: 2%;
	width: 40%;
	margin: 0 0;
	text-align: center;
	font-size: 1.8vmin;
	font-weight: bold;
}
.titleTimelineRight{
	position: absolute;
	left: 43%;
	top: 88%;
	height: 2%;
	width: 40%;
	margin: 0 0;
	text-align: center;
	font-size: 1.8vmin;
	font-weight: bold;
}

.leftTimelineDivContainer{
	position: absolute;
	left: 1%;
	top: 90%;
	height: 8%;
	width: 38%;
	border: 1px black solid;
	background-color: white;
}
.rightTimelineDivContainer{
	position: absolute;
	left: 45%;
	top: 90%;
	height: 8%;
	width: 38%;
	border: 1px black solid;
	background-color: white;
}

/*.knnDivContainer{
	position: absolute;
	left:70%;
	top:70%;
	height: 30%;
	width: 30%;
}*/

.starPlotLegend{
	position: absolute;
	left: 88%;
	top: 5%;
	height: 25%;
	width: 12%;
}

.toolBoxDiv{
	position: absolute;
	left:85%;
	top:40%;
	height: 59%;
	width: 14%;
}

.actionChooserContainerDiv{
	position: absolute;
	left: 0%;
	top: 2%;
	height: 5%;
	width: 100%;
	font-size: 1.6vmin;
	text-align: left;
}
.actionChooserContainerDiv input{
	width: 1.4vmin;
	height: 1.4vmin;
}

.sliderDivContainer{
	position: absolute;
	left: 11%;
	top: 8%;
	height: 10%;
	width: 88%;
}
.lensSizeLabelDiv{
	position: absolute;
	left: 1%;
	top: 5%;
	/*height: 45%;
	width: 40%;*/
	font-size: 1.4vmin;
}
.lensSizeContainerDiv{
	position: absolute;
	left: 4.5vw;
	top: 5%;
	/*height: 45%;
	width: 60%;*/
	/*height: 2.5vh;
	width: 7vw;*/
}
#lensSizeDiv{
	top: 0.2vh;
	height: 1vh;
	width: 7vw;
}

.zoomSizeLabelDiv{
	position: absolute;
	left: 1%;
	top: 50%;
	/*height: 45%;
	width: 40%;*/
	font-size: 1.4vmin;
}
.zoomSizeContainerDiv{
	position: absolute;
	left: 4.5vw;/*40%;*/
	top: 50%;
	/*height: 2.5vh;
	width: 7vw;*/
}
#zoomSizeDiv{
	top: 0.2vh;
	height: 1vh;
	width: 7vw;
}
#handle-one{
	width: 1.8vmin;
	height: 1.8vmin;
}

.chooserLabelDiv{
	position: absolute;
	left: 0;
	top: 24%;
	height: 2%;
	width: 100%;
	font-size: 1.8vmin;
	text-align: center;
}
.chooserDivContainer{
	position: absolute;
	left: 0;
	top: 26%;
	height: 74%;
	width: 100%;
}

/*************************/

.tooltip {
	position: absolute;
	/*position: relative;*/
	display: none;

	padding: 0.5vmin;

	font-size: 1.5vmin;
	text-align: center;

	pointer-events: none;

	border-radius: 0.3vmin;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}

/*************************/

.mosaicSvg{
	height: 100%;
	width: 100%;
}

.line{
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
.swordLine{
	stroke: white;
  stroke-width: 8;
  fill: none;
}
.lineRight{
  stroke: #cc0000;
  stroke-width: 2;
  fill: none;
}
.axis{
  stroke: black;
  stroke-width: 2;
  fill: none;
}

.timeWindow{
	fill: none;
  stroke: black;
}

.zoomDivContainer{
	position: absolute;
	left:0;
	top:0;
	height: 50%;
	width: 50%;
	background-color: white;
	visibility: hidden;
}

.zoomTitleBar{
	position: absolute;
	top: 0;
	left: 0;
	height: 8%;
	width: 100%;
	background-color: #888888;
}
.titleMosaic{
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	margin: 0 0;
	text-align: center;
	font-size: 1.4vmin;
	font-weight: bold;
}

.zoomContentContainer{
	position: absolute;
	top: 9%;
	left: 0%;
	height: 91%;
	width: 100%;
}
.zoomSquareDiv{
	position: absolute;
}


.starPlotAxis{
	stroke-width: 1;
	stroke: rgba(1, 1, 1, 0.75);
}
.overallStarPlotAxis{
	stroke-width: 2;
	stroke: rgba(1, 1, 1, 1);
}
.starPlotPath{
	stroke: black;
	fill: orange;
}
.overallStarPlotPath{
	fill: transparent;
}


.loadingDiv{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	opacity: 0.7;
}
.loadingSpinnerDiv{
	position: absolute;
	left: 40%;
	top: 40%;
	width: 20%;
	height: 20%;
	text-align: center;
}


/* brush */
.brush .extent {
  stroke: #000;
	fill: #000;
	opacity: 0.2;
  /*fill-opacity: .125;*/
  /*shape-rendering: crispEdges;*/
}


.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
	font-size: 14px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 3px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
